# Python Advanced Programming Assignment 03

#  1. Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division on a string number (e.g. &quot;12 + 24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).

Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.

eval() is not allowed. In case of division, whenever the second number equals
'0' return -1.

For example:

'15 // 0' ➞ -1

Examples

arithmetic_operation('12 + 12') ➞ 24 // 12 + 12 = 24

arithmetic_operation('12 - 12') ➞ 24 // 12 - 12 = 0

arithmetic_operation('12 * 12') ➞ 144 // 12 * 12 = 144

arithmetic_operation('12 // 0') ➞ -1 // 12 / 0 = -1

In [38]:
def arithmetic_operation(string):
    l=string.split()
    operator=l[1]
    n1=int(l[0])
    n2=int(l[2])
    
    if operator=='+':
        if n2==0:
            result=-1
        else:
            result=(n1+n2)

    if operator=='-':
        if n2==0:
            result=-1
        else:
            result=(n1-n2)
    
    if operator=='*':
        if n2==0:
            result=-1
        else:
            result=(n1*n2)
    
    if operator=='//':
        if n2==0:
            result=-1
        else:
            result=(n1//n2)
    return result

In [39]:
arithmetic_operation('12 + 12')

24

In [41]:
arithmetic_operation('12 - 12')

0

In [42]:
arithmetic_operation('12 * 12')

144

In [43]:
arithmetic_operation('12 // 0')

-1

In [44]:
arithmetic_operation('12 // 12')

1

In [45]:
arithmetic_operation('12 // 0')

-1

In [46]:
arithmetic_operation('0 // 0')

-1

In [47]:
arithmetic_operation('0 // 4')

0

## 2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.

Examples

perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08

perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42

perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

In [48]:
def perimeter(dots):
    flat = []
    for i in dots: 
        for j in i:  #flating the vectors
            flat.append(j)
    x1,y1,x2,y2,x3,y3 = flat #assigning each dot on the 2d plane
    #calculating each length of the triangle
    fst = ((x2 - x1)**2   +    (y1-y2)**2 )**0.5 #1st length
    snd = ((x3-x2)**2     +    (y3-y2)**2)**0.5 #2nd length
    trd = ((x3-x1)**2     +    (y3-y1)**2)**0.5 # 3rd length
    return round(fst+snd+trd, ndigits=2) #perimeter is sum of all three side length

In [49]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [50]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [51]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

## 3. A city skyline can be represented as a 2-D list with 1s representing buildings. In the example below, the height of the tallest building is 4 (second- most right column).

[[0, 0, 0, 0, 0, 0],

[0, 0, 0, 0, 1, 0],

[0, 0, 1, 0, 1, 0],

[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]]

Create a function that takes a skyline (2-D list of 0's and 1's) and returns the
height of the tallest skyscraper.

Examples

tallest_skyscraper([

[0, 0, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 3

tallest_skyscraper([

[0, 1, 0, 0],

[0, 1, 0, 0],

[0, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 4

tallest_skyscraper([

[0, 0, 0, 0],

[0, 0, 0, 0],

[1, 1, 1, 0],

[1, 1, 1, 1]

]) ➞ 2

In [52]:
def tallest_skyscraper(array):
    list_of_height = []
    sum = 0
    for i in range(len(array[0])):
        for j in range(len(array)):
            sum = sum + array[j][i]
        list_of_height.append(sum)
        sum = 0
    return "The hieght of tallest building is : ", max(list_of_height)

In [53]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 3)

In [54]:
tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 4)

In [55]:
tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
])

('The hieght of tallest building is : ', 2)

## 4. A financial institution provides professional services to banks and claims charges from the customers based on the number of man-days provided. Internally, it has set a scheme to motivate and reward staff to meet and exceed targeted billable utilization and revenues by paying a bonus for each day claimed from customers in excess of a threshold target.

This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:

Days Bonus

0 to 32 days Zero

33 to 40 days SGD$325 per billable day

41 to 48 days SGD$550 per billable day

Greater than 48 days SGD$600 per billable day

Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:

32*0 + 8*325 + 5*550 = 5350

Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.

Examples

bonus(15) ➞ 0

bonus(37) ➞ 1625

bonus(50) ➞ 8200

In [56]:
def bonus(day):  # creating the function
    bonus = 0 # initial bonus is 0 
    if day >32: # if day is greater than 32 then it will start calculation , otherwise return 0
        if day>48: # check for day is greater than 48, the heighst quarter
            day = day - 32 # 32 day will remove as there is no bonus for first 32 days
            bonus = (8*325) + (8*550) + ((day-16)*600) # then bonus is calculate for rest of the days
        elif day<=48 and day>41: # calculation for 2nd quarter
            day = day -32
            bonus = (8*325) + ((day-8)*550)
        elif day<=41 and day>32:   # calculation for first quarter
            day = day - 32
            bonus = day*325
    return bonus # returning the bonus

In [57]:
bonus(15)

0

In [58]:
bonus(37)

1625

In [59]:
bonus(50)

8200

In [60]:
bonus(45)

5350

## 5. A number is said to be Disarium if the sum of its digits raised to their respective positions is the number itself.

Create a function that determines whether a number is a Disarium or not.

Examples

is_disarium(75) ➞ False

#7^1 + 5^2 = 7 + 25 = 32

is_disarium(135) ➞ True

#1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135

is_disarium(544) ➞ False

is_disarium(518) ➞ True

is_disarium(466) ➞ False

is_disarium(8) ➞ True

In [61]:
def is_disarium(num):
    sum = 0
    tempNum = num
    while(num>0):
        dgcnt= len(str(num))
        digit = num%10
        sum= sum + digit**dgcnt   
        dgcnt-=1
        num = num//10    
    if sum == tempNum:
        return tempNum,"Number is Disarium"
    else:
        return tempNum,"Number is not Disarium"

In [62]:
is_disarium(544)

(544, 'Number is not Disarium')

In [63]:
is_disarium(518)

(518, 'Number is Disarium')

In [64]:
is_disarium(466)

(466, 'Number is not Disarium')

In [65]:
is_disarium(8)

(8, 'Number is Disarium')